@{

}

<div>
    <h4>Database Models</h4>
    <p>The current models are in the MSSql database and accessible via CRUD controllers</p>
    <table class="table">
        <tr>
            <th scope="col">Model</th>
        </tr>
        <tr>
            <td><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></td>
        </tr>
        <tr>
            <td><a asp-area="" asp-controller="Departments" asp-action="Index">Departments</a></td>
        </tr>
        <tr>
            <td><a asp-area="" asp-controller="SubDepartments" asp-action="Index">Sub-Departments</a></td>
        </tr>
    </table>
</div>

